<div class="card">
    <h1>FUNDOO NOTE</h1>
    <div>
    <div>
        <mat-card-title-group>
            <mat-card-title >
                <h4>Reset your password</h4>
            </mat-card-title>
        </mat-card-title-group>
    </div>
        <div class="email">
            <mat-form-field class="mat-form" appearance="outline">
                <mat-label>Email</mat-label>
              <input  matInput [formControl]="email" placeholder="abc@gmail.com" >
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email </mat-error> 
              <mat-error *ngIf="email.hasError('required')"> Email is required </mat-error>
            </mat-form-field>
        </div>
        <div>
        <mat-form-field class="password" appearance="outline" >
            <mat-label>Password</mat-label>
          <input matInput [formControl]="password" placeholder="password" >
          <mat-error *ngIf="password.hasError('required')">*required</mat-error> 
          <mat-error *ngIf="password.hasError('minlength')"> Minimum length 6 </mat-error>
        </mat-form-field>
     </div>
      <div class="cpwd">
        <mat-form-field class="confirmpassword" appearance="outline" >
            <mat-label>Confirm Password</mat-label>
          <input matInput [formControl]="confirmpassword" placeholder="confirmpassword" >
          <mat-error *ngIf="confirmpassword.hasError('required')">*required</mat-error> 
          <mat-error *ngIf="confirmpassword.hasError('minlength')"> Minimum length 6 and should match with password</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button color="primary" > Reset </button>
    </div>
    </div>
</div>