.card
  {
    margin-bottom: 20px;
    margin:auto;
    align-items: center;
    width: 45%;
    height: 80%;
    align-content: center;
    background-color: whitesmoke;
    box-shadow: 5px 4px 7px rgba(141, 124, 124, 0.3)
  }
  h1
  {
    color:darkblue;
    padding-top: 10px;
  }
  .cpwd{
    margin-left: 2%;
    margin-top: 2%;
}
.confirmpassword{
    width:61%;
    }
    
    .email{
        padding-right: 70%;
        padding-top:2%;
       }
       .mat-form{
        width:195%;
        margin-left: 70%;
    }
    div{
        text-align: center;
    }
    .password{
        width:59%;
        margin-right: -1%;

    }