<div class="note">  
    <mat-card (click)="open()"  *ngIf="!popup" class="card">
  <div  class="takeNote">Take a note...
  <button mat-icon-button class="noteicon" matTooltip="New list">
      <mat-icon>check_box</mat-icon>
    </button>
    <button mat-icon-button class="noteicon" matTooltip="New note with drawing">
      <mat-icon>brush</mat-icon>
    </button>
    <button mat-icon-button class="noteicon" matTooltip="New note with image">
      <mat-icon>image</mat-icon>
    </button>
  </div>
  </mat-card>
  <mat-card *ngIf="popup"  class="card">
      <div class="text">
        <input type="text" class="notetext" placeholder="Title" value="" #title >
        <input class="notetext" type="text" placeholder="Take a note......" value="" #description >
      </div>

      <div class="box">
        <div class="bottomalign">
          <app-icons></app-icons>
        </div>
        <div class=" cancelclass">
          <button mat-button class="closecls" (click)="close(title.value,description.value)">Close</button>
        </div>
      </div>
    </mat-card>
  </div>
