h1
{
    color:darkblue;
    padding-top: 10px;
}
h3{
    text-align: center;
}
 div{
     text-align: center;
     
 }
 .fname{
     margin-left: -30%;
 }
 .lname{
     margin-left: 30%;
     margin-top:-12%;
 }
 .email{
  padding-right: 70%;
 }
 
 .cpwd{
     margin-left: 30%;
     margin-top: -12%;
 }
 .mat-form{
     width:195%;
     margin-left: 70%;
 }
 .password{
    width:30%;
    margin-right: 30%;
}
.confirmpassword{
width:40%;
}

 .card
  {
      margin-bottom: 20px;
      margin:auto;
    align-items: center;
    width: 60%;
    height: 80%;
    align-content: center;
    background-color: whitesmoke;
    box-shadow: 5px 4px 7px rgba(141, 124, 124, 0.3)
  }
  .login{
      margin-top: 20px;
  }
 
 .label{
     margin-top:10%;


 }
 .facebook{
     margin-right: 15%;
     margin-top: 20px;
 } 
 .gmail{
     margin-top: -5%;
     margin-left: 30%;
 }
