<div>
    <mat-toolbar class="toolbar">
        <div class="page">
          <div class="sideNav">
              <mat-icon class="sidename"(click)="drawer.toggle()">menu</mat-icon>
            </div>
            <div class="image">
                <img src="assets/images/keep-512.png"  >
              </div>
            <h1 class="fundoo">Fundoo</h1>
          </div>
          <div class="searchBar">
          <mat-card class="searchbar">
            <button class="searchbutton"  (click)="search(val.value)"  mat-icon-button>
              <mat-icon matSuffix>search</mat-icon>
            </button>
            <input class="searchinput" type="text" name="search" #val autocomplete="off" placeholder="Search" (keyup.enter)="search(val.value)" #val>
          </mat-card>
        </div>
          <div class="grid">
            <button mat-icon-button class="listButton" *ngIf="view;else elseBlock" matTooltip="View Grid" (click)="gridView()">
              <mat-icon>view_agenda</mat-icon>
            </button>
            <ng-template #elseBlock>
            <button mat-icon-button class="gridButton"  (click)="gridView()">
              <mat-icon>
                view_module
              </mat-icon>
            </button>
          </ng-template>
          <div>
            <button mat-button [matMenuTriggerFor]="picture">
          <img class="propic" src="assets/images/profilepic.png" >
        </button>
        <mat-menu  #picture="matMenu">
          <div>

          </div>
          
        </mat-menu>
        </div>
          </div>
    </mat-toolbar>
  </div>
  <div class="sidenavdiv">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list class="list">
          <a mat-button class="notes" [routerLink]="'notes'">
            <mat-icon>emoji_objects</mat-icon>Notes
          </a> 
        <br>
          <a mat-button class="notes"  [routerLink]="'reminder'" >
            <mat-icon>notifications</mat-icon>Reminders
          </a>
          <br>
          
            <button mat-button class="notes" >
              <mat-icon>create</mat-icon>Edit Labels
            </button>
          <br>
          <button mat-button class="notes" [routerLink]="'archive'">
            <mat-icon>archive</mat-icon>Archive
          </button> 
          <br>
          <a mat-button class="notes" [routerLink]="'trash'" >
            <mat-icon>delete</mat-icon>Trash
          </a> 
        </mat-nav-list>
      </mat-drawer>
      <router-outlet></router-outlet>
    </mat-drawer-container>
  </div>