<div>
    <mat-toolbar class="toolbar">
        <div class="page" fxLayout="row">
          <div class="sideNav">
            <div>
              <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            </div>
            <div class="image">
                <img src="assets/images/keep-512.png"  >
              </div>
            <h1 class="fundoo">Fundoo</h1>
          </div>
          <div class="searchBar">
            <mat-card class="searchbar">
              <input class="searchinput" type="text" name="search"  placeholder="Search ">
              <button class="searchutton" mat-icon-button>
              </button>
            </mat-card>
          </div>
          <div class="grid">
            <button mat-icon-button class="listButton" *ngIf="view" matTooltip="View Grid" (click)="gridView()">
              <mat-icon>view_module</mat-icon>
            </button>
            <button mat-icon-button class="gridButton" *ngIf="!view" matTooltip="List View" (click)="gridView()">
              <mat-icon>view_agenda</mat-icon>
            </button>
          </div>
        </div>
    </mat-toolbar>
  </div>
  <div class="sidenavdiv">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list class="list">
          <a mat-button class="notes" [routerLink]="'notes'">
            <mat-icon>emoji_objects</mat-icon>Notes
          </a> 
        <br>
          <a mat-button class="notes"  >
            <mat-icon>notifications</mat-icon>Reminders
          </a>
          <br>
          
            <button mat-button class="notes" >
              <mat-icon>create</mat-icon>Edit Labels
            </button>
          <br>
          <button mat-button class="notes" [routerLink]="'archive'">
            <mat-icon>archive</mat-icon>Archive
          </button> 
          <br>
          <a mat-button class="notes" [routerLink]="'trash'" >
            <mat-icon>delete</mat-icon>Trash
          </a> 
        </mat-nav-list>
      </mat-drawer>
      <router-outlet></router-outlet>
    </mat-drawer-container>
  </div>