.closeButton{
    cursor: pointer;
    margin-left: 200%;
    margin-top: 9px;
}

.update{
    justify-content: space-between;
}
.mat-card {
    display: block;
    border-radius: 4px;
}
.icon
{
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
}