<div class="card">
    <h1>FUNDOO NOTE</h1>
        <div>
            <div class="email">
                <mat-form-field class="mat-form" appearance="outline">
                    <mat-label>Email</mat-label>
                  <input  matInput [formControl]="email" placeholder="abc@gmail.com" >
                  <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email </mat-error> 
                  <mat-error *ngIf="email.hasError('required')"> Email is required </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="password" appearance="outline" >
                    <mat-label>Password</mat-label>
                  <input matInput [formControl]="password" placeholder="password" >
                  <mat-error *ngIf="password.hasError('required')">*required</mat-error> 
                  <mat-error *ngIf="password.hasError('minlength')"> Minimum length 6 </mat-error>
                </mat-form-field>
            </div>
            <div >
                <button mat-flat-button color="primary" (click)="login()">Login </button>
             </div>
             <div class="forgot">
                <span><a href="forgotpassword">forgotpassword</a></span>
            </div>
            <br>
            <br>
             <div class="register">
                <span> Not yet registered? <a  href="register">register</a></span>
            </div>
        </div>
</div>
