<div>
  <div class="icons">
    <button mat-icon-button class="button" [matMenuTriggerFor]="remind" matTooltip="Remind me">
    <mat-icon class="icon">add_alert</mat-icon>
    </button>
    <button mat-icon-button class="button"   (click)="collaborator()">
    <mat-icon class="icon">person_add</mat-icon>
    </button>
    <button mat-icon-button class="button"  matTooltip="Change color"  [matMenuTriggerFor]="addColors" id="palette">
    <mat-icon class="icon">palette</mat-icon>
    </button>
    <button mat-icon-button class="button" matTooltip="Add image">
    <mat-icon class="icon">add_photo_alternate</mat-icon>
    </button>
    <button id="archive" mat-icon-button class="button" matTooltip="Archive"  (click)="isArchive()" >
    <mat-icon class="icon" >archive</mat-icon>
    </button>
    <button mat-icon-button matTooltip="more" id="more" [matMenuTriggerFor]="moreVert">
    <mat-icon>more_vert</mat-icon>
  </button>
  </div>
</div>
<div >
  <mat-menu #addColors="matMenu" [overlapTrigger]="false">
    <div class="mat-menu-content" >
              <div class="color-row" *ngFor="let color of colours" >
                      <mat-card *ngFor="let clr of color"  [ngStyle]="{'background-color': clr.color}" matTooltip="{{ clr.name }}"
                          (click)="setColor(clr.color)" class="mat-color">
                      </mat-card>
                 </div>
                </div>
  </mat-menu>
</div>
<mat-menu #moreVert="matMenu">
  <button *ngIf="!onCreateNote" mat-menu-item id="deleteNote" (click)="deleteNote()" >Delete Note</button>
  <button mat-menu-item [matMenuTriggerFor]="addLabel" id="label">Add Label</button>
</mat-menu>
<div>
  <mat-menu #addLabel="matMenu" (click)="$event.stopPropagation();">
      <mat-card (click)="$event.stopPropagation();">
          Label Note
          <input id="label_text" matInput placeholder="Enter label name" value="" #label>
          <div *ngFor="let label of labels">
              <mat-checkbox (change)="newLabel(label.labelName)"></mat-checkbox>{{label.labelName}}
          </div>
          <button *ngIf="label.value!=''" mat-button (click)="newLabel(label.value)" id="create">+ Create
              "{{label.value}}"</button>
      </mat-card>
  </mat-menu>
</div>
<mat-menu #remind="matMenu">
  <mat-card>
      <div>
          <mat-icon matTooltip="Go back">arrow_back</mat-icon>
      </div>
      <div class="pickDate">
          Pick date & time
      </div>
      <mat-form-field>
          <input  matInput [matDatepicker]="date" value="matDatepicker" #picdate>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" >
          <mat-label>8:00 AM</mat-label>
          <mat-select id="time">
              <mat-option value="8:00 AM" (click)="setTime(morning.value)" #morning>Morning 8:00 AM</mat-option>
              <mat-option value="1:00 PM" (click)="setTime(afternoon.value)" #afternoon>Afternoon 1:00 PM</mat-option>
              <mat-option value="6:00 PM" (click)="setTime(evening.value)" #evening>Evening 6:00 PM</mat-option>
              <mat-option value="8:00 PM" (click)="setTime(night.value)" #night>Night 8:00 PM</mat-option>
              <mat-option value="10:00 AM" (click)="setTime(custom.value)" #custom>Custom</mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
          <mat-label>Does not repeat</mat-label>
          <mat-select>
              <mat-option value="not" (click)="setRepitation(norepeat.value)" #norepeat>Does not repeat</mat-option>
              <mat-option value="daily" (click)="setRepitation(daily.value)" #daily>Daily</mat-option>
              <mat-option value="weekly" (click)="setRepitation(weekly.value)" #weekly>Weekly</mat-option>
              <mat-option value="monthly" (click)="setRepitation(monthly.value)" #monthly>Monthly</mat-option>
              <mat-option value="yearly" (click)="setRepitation(yearly.value)" #yearly>Yearly</mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="saveReminder(picdate.value)" >Save</button>
  </mat-card>
</mat-menu>