.button{
    background: transparent;
    border: none;
    outline: none;
    margin: 1px;
}
.icon{
    font-size: 20px;
}
.icons
{
   justify-content: space-around;
    opacity: 0.9;
}
.mat-mini-fab
{
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.colorPalette {
    padding: 6px;
}
.colorclass{
    overflow: hidden; 
}