<div>
  <div fxLayout="row" class="icons">
    <button mat-icon-button class="button" matTooltip="Remind me">
      <mat-icon class="icon">add_alert</mat-icon>
    </button>
    <button mat-icon-button class="button" matTooltip="Collaborator">
      <mat-icon class="icon">person_add</mat-icon>
    </button>
    <button mat-icon-button class="button" matTooltip="Change color">
      <mat-icon class="icon">color_lens</mat-icon>
    </button>
    <button mat-icon-button class="button" matTooltip="Add image">
      <mat-icon class="icon">add_photo_alternate</mat-icon>
    </button>
    <button mat-icon-button class="button" matTooltip="Archive" (click)="isArcheive()">
      <mat-icon class="icon" >archive</mat-icon>
    </button>
  </div>
</div>