.card
  {
    margin:auto;
    align-items: center;
    width: 45%;
    height: 60%;
    align-content: center;
    background-color: whitesmoke;
    box-shadow: 5px 4px 7px rgba(141, 124, 124, 0.3)
  }
  .email{
    padding-right: 70%;
    padding-top:5%;
   }
   .mat-form{
    width:195%;
    margin-left: 70%;
}
h1
{
    color:darkblue;
    padding-top: 10px;
}
div{
  text-align: center;
}
.login{
  align-items: center;
}