<div class="card">
    <h1>FUNDOO NOTE</h1>
    <div>
        <mat-card-title-group>
            <mat-card-title >
                <h4>Forgot password? </h4>
            </mat-card-title>
        </mat-card-title-group>
        <p> Please enter your email address to reset your password</p>
    </div>
    <div class="email">
        <mat-form-field class="mat-form" appearance="outline">
            <mat-label>Email</mat-label>
          <input  matInput [formControl]="email" placeholder="abc@gmail.com" >
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email </mat-error> 
          <mat-error *ngIf="email.hasError('required')"> Email is required </mat-error>
        </mat-form-field>
    </div>
    <div>
        <button mat-flat-button color="primary" (click)="forgot()"> Send Reset link</button>
     </div>
</div>
<br>
<div class="login">
<span>Return to login form.<a href="login">Login</a></span>
</div>