<div class="card">
    <h1>Fundoo Note</h1>
    <div class="email">
        <mat-form-field class="mat-form" appearance="outline">
            <mat-label>Email</mat-label>
          <input  matInput [formControl]="email" placeholder="abc@gmail.com" >
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email </mat-error> 
          <mat-error *ngIf="email.hasError('required')"> Email is required </mat-error>
        </mat-form-field>
    </div>
    <div  >
        <button mat-flat-button color="primary" > Submit</button>
     </div>
</div>
