.box{
  box-shadow: 5px 4px 7px rgba(141, 124, 124, 0.3);
    margin:1% auto;
//width: 20%;
float:left;
margin-left:70px;
margin-right: auto;
}
// .jc-space
// {
//     justify-content:space-between;
// }
.mar
{
    margin-left: 0mm;
    pointer-events: auto;
    font-size: 12px;
    background: transparent;
}
.reminder
{
    outline: none;
    border: none;
    background-color: transparent;
    visibility: hidden;
}
.Closebutton
{
    margin-top: 6px;
    margin-left: 6px;
    margin-right: -12px;
}


.mar:hover{
  .reminder{
      visibility: visible;
  }
}