<div [ngStyle]="{'margin-left.px': margin}" class="display">
    <mat-card  [style.width]="width" *ngFor="let data of result"  class="box" [ngStyle]="{'background-color':data.changeColor}">
        <div (click)="OnClicktoUpdate(data)" >
        <div> {{data.title}} </div>
        <div > {{data.description}} </div>
        </div>
        <div *ngIf="data.reminder!=null&&data.reminder!=''">
        <mat-chip-list>
            <mat-chip class="mar">{{data.reminder}}
                <button matTooltip="Delete Reminder" [ngStyle]="{'background-color' : data.changeColor}"
                    class="reminder" style="border: none;outline: none;">
                <mat-icon (click)="deleteReminder(data.noteId)"class="Closebutton">close</mat-icon>
                </button>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div *ngFor="let label of labels">
        <div *ngIf="label.noteId == data.noteId">
            <mat-chip-list>
                <mat-chip class="mar"> {{label.labelName}}
                    <button matTooltip="Delete Label" [ngStyle]="{'background-color' : data.changeColor}"
                        class="reminder" style="border: none;outline: none;">
                        <mat-icon (click)="deleteLabel(label.labelId)" class="Closebutton">close</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
            <app-icons [notes]="data" [collabo]="collaborator" [labels]="labels" (notify)="getoutput()" (output)="getAllNote()"></app-icons>
    </mat-card>
</div>