.box{
    margin-bottom: 20px;
    margin:auto;
  align-items: center;
  width: 25%;
  height: 10%;
  align-content: center;
  background-color: whitesmoke;
  box-shadow: 5px 4px 7px rgba(141, 124, 124, 0.3);
}