<div>
  <mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row>
      <div class="page" fxLayout="row">
        <div class="sideNav">
          <div>
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          </div>
          <div class="image">
            <img src="assets/Fundoo-images/googleKeep.png" class="image">
          </div>
          <h1 class="fundoo">Fundoo</h1>
        </div>
        <div class="searchBar">
          <mat-card class="searchbar">
            <button class="searchbutton" mat-icon-button>
              <mat-icon matSuffix>search</mat-icon>
            </button>
            <input class="searchinput" type="text" name="search" autocomplete="off" placeholder="Search ">
            <button class="searchutton" mat-icon-button>
            </button>
          </mat-card>
        </div>
        <div class="listgrid" fxLayout="row">
          <div>
            <button mat-icon-button class="listButton" *ngIf="view" matTooltip="View Grid" (click)="gridView()">
              <mat-icon>view_module</mat-icon>
            </button>
            <button mat-icon-button class="gridButton" *ngIf="!view" matTooltip="List View" (click)="gridView()">
              <mat-icon>view_agenda</mat-icon>
            </button>
          </div>
        </div>
        <!-- <div class="profilePic">
        </div> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-- side navigation bar -->
<div class="sidenavdiv">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list class="list">
        <a mat-list-item class="notes" (click)="notes()">
          <mat-icon>emoji_objects</mat-icon>Notes
        </a> <br>
        <a mat-list-item class="notes" (click)="reminder()">
          <mat-icon>notifications</mat-icon>Reminders
        </a><br>
        <div *ngFor="let lab of allLabels">
          <a mat-list-item matTooltip={{lab.labelName}} (click)="labelOperation(lab.labelName)">
            <mat-icon>label_outline</mat-icon><a class="margin">{{lab.labelName}}</a>
          </a> <br>
        </div>
        <div>
          <a mat-list-item class="notes" (click)="openDialog(allLabels)">
            <mat-icon>create</mat-icon>Edit Labels
          </a>
        </div>
        <br>
        <a mat-list-item class="notes" (click)="archive()">
          <mat-icon>archive
          </mat-icon>Archive
        </a> <br>
        <a mat-list-item class="notes" (click)="trash()">
          <mat-icon>delete</mat-icon>Trash
        </a> <br>
      </mat-nav-list>
    </mat-drawer>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>